* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

::selection{
    color: #fff;
    background: #438565;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1187px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

/* header start */

header {
    padding-top: 30px;
}

header .container-fluid .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header .container-fluid .row .head-left {
    padding-bottom: 20px;
}

header .container-fluid .row .head-left .btn {
    width: 260px;
    background: #dbdbdb52;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 13px 30px 13px 15px;
    border-radius: 16px;
}

header .container-fluid .row .head-left .btn input {
    border: none;
    outline: none;
    background: transparent;
}

header .container-fluid .row .head-left .btn input::placeholder {
    font-size: 17px;
    color: #00000070;
}

header .container-fluid .row .head-left .btn a img {
    width: 20px;
}

header .container-fluid .row .head-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

header .container-fluid .row .head-right {
    padding-bottom: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

header .container-fluid .row .head-bottom {
    grid-column: span 3;
    padding: 20px 0;
    border-top: 1px solid #00000041;
}

header .container-fluid .row .head-bottom ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

header .container-fluid .row .head-bottom ul li a {
    font-size: 18px;
    color:
        #000000b6;
}

/* header complete */
/* ............................................ */
/* home start */

section.home {
    padding-top: 5px;
}

section.home .container-full .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section.home .container-full .row .card {
    position: relative;
}

section.home .container-full .row .card-content {
    position: absolute;
    right: 40px;
    bottom: 30px;
}

section.home .container-full .row .card-content h2 {
    font-size: 30px;
    color: #ffffff;
}

/* home end */
/* ........................ */
/* collection start */

section.collection {
    padding-top: 50px;
}

section.collection .container .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

section.collection .container .section-heading .heading h2 {
    font-size: 48px;
}

section.collection .container .section-heading .icon {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #438565;
    padding: 10px 30px;
    border-radius: 12px;
}

section.collection .container .section-heading .icon a {
    color: #438565;
}

section.collection .container .section-heading .icon i {
    color: #438565;
}

section.collection .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-column-gap: 50px;
}

section.collection .container .row .card {
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
    position: relative;
}

section.collection .container .row .card .new {
    position: absolute;
    right: -20px;
    top: 5px;
    background:
        #F88240;
    padding: 5px 15px;
    /* border-radius: 0px 10px 0px 10px; */
    transform: skew(-20deg);
}

section.collection .container .row .card .new a {
    color: #fff;
    transform: skew(0);
}

section.collection .container .row .card .card-img img {
    padding: 18px;
    padding-bottom: 5px;
    width: 100%;
}

section.collection .container .row .card .card-content .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

section.collection .container .row .card .card-content .card-content-top .product-name h3 {
    font-size: 24px;
}

section.collection .container .row .card .card-content .card-content-middle {
    padding: 18px;
    padding-top: 5px;
    padding-bottom: 0;
}

section.collection .container .row .card .card-content .card-content-middle a {
    color: #000000bd;
}

section.collection .container .row .card .card-content .card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}


section.collection .container .row .card .card-content .card-content-bottom .product-price h5 {
    font-size: 22px;
}

section.collection .container .row .card .card-content .card-content-bottom .product-cart {
    background: #438565;
    padding: 15px;
    border-radius: 50%;
}

section.collection .container .row .card .card-content .card-content-bottom .product-cart i {
    font-size: 20px;
    color: #ffffff;
}

/* collection end */
/* .................... */
/* discount start */

section.discount {
    padding-top: 100px;
}

section.discount .container-full .row marquee {
    background: #ffffff7e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 0;
}

section.discount .container-full .row marquee .slide-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* discount end */
/* ................... */
/* t-shirt start */


section.t-shirt {
    padding-top: 50px;
    padding-bottom: 100px;
}

section.t-shirt .container .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

section.t-shirt .container .section-heading .heading h2 {
    font-size: 48px;
}

section.t-shirt .container .section-heading .icon {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #438565;
    padding: 10px 30px;
    border-radius: 12px;
}

section.t-shirt .container .section-heading .icon a {
    color: #438565;
}

section.t-shirt .container .section-heading .icon i {
    color: #438565;
}

section.t-shirt .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-column-gap: 50px;
}

section.t-shirt .container .row .card {
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
}

section.t-shirt .container .row .card .card-img img {
    padding: 18px;
    padding-bottom: 5px;
    width: 100%;
}

section.t-shirt .container .row .card .card-content .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

section.t-shirt .container .row .card .card-content .card-content-top .product-name h3 {
    font-size: 24px;
}

section.t-shirt .container .row .card .card-content .card-content-middle {
    padding: 18px;
    padding-top: 5px;
    padding-bottom: 0;
}

section.t-shirt .container .row .card .card-content .card-content-middle a {
    color: #000000bd;
}

section.t-shirt .container .row .card .card-content .card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.t-shirt .container .row .card .card-content .card-content-bottom .product-price h5 {
    font-size: 22px;
}

section.t-shirt .container .row .card .card-content .card-content-bottom .product-cart {
    background: #438565;
    padding: 15px;
    border-radius: 50%;
}

section.t-shirt .container .row .card .card-content .card-content-bottom .product-cart i {
    font-size: 20px;
    color: #ffffff;
}

/* t shirt end */
/* ..................... */
/* socks-cap start */


section.socks-cap {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #FAFAFA;
}

section.socks-cap .container .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

section.socks-cap .container .section-heading .heading h2 {
    font-size: 48px;
}

section.socks-cap .container .section-heading .icon {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #438565;
    padding: 10px 30px;
    border-radius: 12px;
}

section.socks-cap .container .section-heading .icon a {
    color: #438565;
}

section.socks-cap .container .section-heading .icon i {
    color: #438565;
}

section.socks-cap .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-column-gap: 50px;
}

section.socks-cap .container .row .card {
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
}

section.socks-cap .container .row .card .card-img img {
    padding: 18px;
    padding-bottom: 5px;
    width: 100%;
}

section.socks-cap .container .row .card .card-content .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

section.socks-cap .container .row .card .card-content .card-content-top .product-name h3 {
    font-size: 24px;
}

section.socks-cap .container .row .card .card-content .card-content-middle {
    padding: 18px;
    padding-top: 5px;
    padding-bottom: 0;
}

section.socks-cap .container .row .card .card-content .card-content-middle a {
    color: #000000bd;
}

section.socks-cap .container .row .card .card-content .card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.socks-cap .container .row .card .card-content .card-content-bottom .product-price h5 {
    font-size: 22px;
}

section.socks-cap .container .row .card .card-content .card-content-bottom .product-cart {
    background: #438565;
    padding: 15px;
    border-radius: 50%;
}

section.socks-cap .container .row .card .card-content .card-content-bottom .product-cart i {
    font-size: 20px;
    color: #ffffff;
}


/* socks-cap end */
/* .................. */
/* women start */


section.women {
    padding-top: 50px;
    padding-bottom: 100px;
}

section.women .container .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

section.women .container .section-heading .heading h2 {
    font-size: 48px;
}

section.women .container .section-heading .icon {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #438565;
    padding: 10px 30px;
    border-radius: 12px;
}

section.women .container .section-heading .icon a {
    color: #438565;
}

section.women .container .section-heading .icon i {
    color: #438565;
}

section.women .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-column-gap: 50px;
}

section.women .container .row .card {
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
}

section.women .container .row .card .card-img img {
    padding: 18px;
    padding-bottom: 5px;
    width: 100%;
}

section.women .container .row .card .card-content .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

section.women .container .row .card .card-content .card-content-top .product-name h3 {
    font-size: 24px;
}

section.women .container .row .card .card-content .card-content-middle {
    padding: 18px;
    padding-top: 5px;
    padding-bottom: 0;
}

section.women .container .row .card .card-content .card-content-middle a {
    color: #000000bd;
}

section.women .container .row .card .card-content .card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.women .container .row .card .card-content .card-content-bottom .product-price h5 {
    font-size: 22px;
}

section.women .container .row .card .card-content .card-content-bottom .product-cart {
    background: #438565;
    padding: 15px;
    border-radius: 50%;
}

section.women .container .row .card .card-content .card-content-bottom .product-cart i {
    font-size: 20px;
    color: #ffffff;
}

/* women end */
/* ..................... */
/* footer start */

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #438565;
    color: #ffffff;
}

footer .container-fluid .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}

footer .container-fluid .row h3 {
    font-size: 24px;
    font-weight: 500;
}


footer .container-fluid .row ul {
    padding-top: 10px;
}

footer .container-fluid .row ul li {
    padding-top: 15px;
}

footer .container-fluid .row ul li a {
    color: #ffffff;
}

footer .container-fluid .row .footer-contain4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container-fluid .row .footer-contain4 .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

footer .container-fluid .row .footer-contain4 .footer-icon i {
    font-size: 22px;
    color: #fff;
}

/* footer end */