* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

::selection {
    color: #fff;
    background: #438565;
}

li a:hover {
    color: #438565;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1187px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

/* header start */

header {
    padding-top: 28px;
    position: relative;
}

header .container-fluid .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

header .container-fluid .row .head-left {
    padding-bottom: 16px;
}

header .container-fluid .row .head-left .btn {
    width: 314px;
    background: #dbdbdb52;
    position: relative;
    border-radius: 16px;
}

header .container-fluid .row .head-left .btn input {
    border: none;
    outline: none;
    background: transparent;
    padding: 20px 10px 20px 10px;
    font-size: 20px;
}

header .container-fluid .row .head-left .btn button {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding-left: 10px;
    background: transparent;
}

::-webkit-search-cancel-button{
    color: #000;
    padding-right: 30px;
    align-items: center;
}

header .container-fluid .row .head-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-fluid .row .head-right {
    align-items: center;
}

header .container-fluid .row .head-right ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
}

header .container-fluid .row .head-bottom {
    grid-column: span 3;
    padding: 24px 0 14px 0;
    border-top: 1px solid #00000041;
    position: relative;
}

.navitem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

header .container-fluid .row .head-bottom .navitem li {
    padding-bottom: 10px;
}

header .container-fluid .row .head-bottom .navitem li a {
    font-size: 20px;
    color:
        #000000b6;
}

.ri-arrow-down-s-line:before {
    font-size: 20px;
    color:
        #000000b6;
}



/* drop down */
header .row ul.navitem li .dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
    z-index: 999;
    background: #fff;
    padding: 30px;
    display: none;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}

header .row ul.navitem li:hover .dropdown {
    display: block;
}

header .row ul.navitem li .dropdown .maindiv {
    display: flex;
    justify-content: space-between;
}

header .row ul.navitem li .dropdown .left {
    display: flex;
    gap: 100%;
}

header .row ul.navitem li .dropdown .left h3 {
    font-size: 20px;
}

header .row ul.navitem li .dropdown .left ul {
    padding-top: 10px;
}

header .row ul.navitem li .dropdown .left ul li {
    padding-top: 10px;
}

header .row ul.navitem li .dropdown .left ul li a {
    font-size: 16px;
}

header .row ul.navitem li .dropdown .right {
    max-width: 450px;
    position: relative;
}

header .row ul.navitem li .dropdown .right .right-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    position: relative;
    align-items: center;
}

header .row ul.navitem li .dropdown .right .right-top .sliders-arrows {
    position: absolute;
    left: 80%;
    right: 0;
}

header .row ul.navitem li .dropdown .right .right-top .sliders-arrows .swiper-button-prev:after {
    display: block;
    font-size: 20px;
}

header .row ul.navitem li .dropdown .right .right-top .sliders-arrows .swiper-button-next:after {
    display: block;
    font-size: 20px;
}

header .row ul.navitem li .dropdown .right .swiper-slide img {
    display: block;
    max-width: 130px;
    object-fit: cover;
    padding-top: 5px;
}








.bottom-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.bottom-img div {
    position: absolute;
    top: 77%;
    text-align: center;
    left: 10%;
}

/* dropdown compltete */
/* ........................................ */
/* dropdown2 start */
header .row ul.navitem li .dropdown2 {
    position: absolute;
    z-index: 999;
    background: #fff;
    padding: 10px 0px 10px 10px;
    display: none;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}

header .row ul.navitem li:hover .dropdown2 {
    display: block;
}

header .row ul.navitem li:hover .dropdown2 li {
    padding-top: 10px;
    padding-right: 30px;
}



/* dropdown2 complete */
/* ................................ */
/* dropdown inside start */
header .row ul.navitem li .dropdown2 .dropdown2-inside {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 999;
    background: #fff;
    padding: 10px 30px 10px 10px;
    display: none;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}

header .row ul.navitem li .dropdown2 .men:hover .dropdown2-inside {
    display: block;
}

header .row ul.navitem li .dropdown2 .women:hover .dropdown2-inside {
    display: block;
}

header .row ul.navitem li .dropdown2 .kids:hover .dropdown2-inside {
    display: block;
}

header .row ul.navitem li .dropdown2:hover .dropdown2-inside .maindiv {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

header .row ul.navitem li .dropdown2:hover .dropdown2-inside .maindiv h3 {
    padding-top: 10px;
}

.ri-arrow-right-s-line {
    font-size: 20px;
}





/* header complete */
/* ............................................ */
/* home start */

section.home .container-full .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section.home .container-full .row .card {
    position: relative;
}

section.home .container-full .row .card img {
    width: 100%;
}

section.home .container-full .row .card-content {
    position: absolute;
    right: 45px;
    bottom: 33px;
}

section.home .container-full .row .card-content h2 {
    font-size: 34px;
    color: #ffffff;
    font-weight: 600;
}

/* home end */
/* ........................ */
/* collection start */

section.collection .container .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 40px;
}

section.collection .container .section-heading .heading h2 {
    font-size: 48px;
    font-weight: 700;
}

section.collection .container .section-heading a.icon {
    border: 1px solid #438565;
    padding: 7px 23px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    gap: 13px;
}

section.collection .container .section-heading .icon span {
    color: #438565;
    font-size: 14px;
    font-weight: 700;
}

section.collection .container .section-heading .icon i {
    color: #438565;
    align-items: center;
}

section.collection .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 56px;
}

section.collection .container .row .card {
    border: 1px solid #00000041;
    border-radius: 16px;
    padding: 17px;
    position: relative;
}

section.collection .container .row .card .new {
    position: absolute;
    right: -20px;
    background-color: #F88240;
    padding: 5px 10px;
    top: 10px;
    transform: skew(-20deg);
}

section.collection .container .row .card .new a {
    color: white;
}

section.collection .container .row .card .card-img img {
    padding-bottom: 5px;
    width: 100%;
}

section.collection .container .row .card .card-content .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

section.collection .container .row .card .card-content .card-content-top .product-name h3 {
    font-size: 24px;
    font-weight: 500;
}

section.collection .container .row .card .card-content .card-content-middle {
    padding-top: 4px;
    padding-bottom: 0;
}

section.collection .container .row .card .card-content .card-content-middle a {
    font-size: 14px;
    font-weight: 400;
    color: #000000bd;
}

section.collection .container .row .card .card-content .card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


section.collection .container .row .card .card-content .card-content-bottom .product-price h5 {
    font-size: 22px;
    font-weight: 600;
}

section.collection .container .row .card .card-content .card-content-bottom .product-cart {
    background: #438565;
    padding: 10px 12px;
    border-radius: 50%;
}

section.collection .container .row .card .card-content .card-content-bottom .product-cart img {
    width: 100%;
    text-align: center;
}

/* collection end */
/* .................... */
/* discount start */

.section-two {
    padding: 88px 0px 0px 0px;
}

.section-two .card-slider {
    padding: 29px 0px 25px 28px;
    box-shadow: 0px 4px 6px 0px #d4d4d4;
}

.section-two .swiper-wrapper .swiper-slide {
    margin-right: 0px;
}

.img_box img {
    max-width: 200px;
}

/* discount end */
/* ................... */
/* t-shirt start */


section.t-shirt {
    padding-top: 110px;
    padding-bottom: 80px;
}

section.t-shirt .container .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 53px;
}

section.t-shirt .container .section-heading .heading h2 {
    font-size: 48px;
    font-weight: 700;
}

section.t-shirt .container .section-heading a.icon {
    border: 1px solid #438565;
    padding: 7px 23px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    gap: 13px;
}

section.t-shirt .container .section-heading .icon span {
    font-size: 14px;
    font-weight: 700;
    color: #438565;
}

section.t-shirt .container .section-heading .icon i {
    color: #438565;
    align-items: center;
}

section.t-shirt .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 56px;
}

section.t-shirt .container .row .card {
    border: 1px solid #00000041;
    border-radius: 16px;
    padding: 16px;
    position: relative;
}


section.t-shirt .container .row .card .card-img img {
    width: 100%;
}

section.t-shirt .container .row .card .card-content .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

section.t-shirt .container .row .card .card-content .card-content-top .product-name h3 {
    font-size: 24px;
    font-weight: 500;
}

section.t-shirt .container .row .card .card-content .card-content-middle {
    padding-top: 5px;
    padding-bottom: 0;
}

section.t-shirt .container .row .card .card-content .card-content-middle a {
    font-size: 14px;
    font-weight: 400;
    color: #000000bd;
}

section.t-shirt .container .row .card .card-content .card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5px;
}

section.t-shirt .container .row .card .card-content .card-content-bottom .product-price h5 {
    font-weight: 600;
    font-size: 22px;
}

section.t-shirt .container .row .card .card-content .card-content-bottom .product-cart {
    background: #438565;
    padding: 10px 12px;
    border-radius: 50%;
}

section.t-shirt .container .row .card .card-content .card-content-bottom .product-cart img {
    width: 100%;
}

/* t shirt end */
/* ..................... */
/* socks-cap start */


section.socks-cap {
    padding-bottom: 110px;
    background: #FAFAFA;
}

section.socks-cap .container .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 53px;
}

section.socks-cap .container .section-heading .heading h2 {
    font-weight: 700;
    font-size: 48px;
}

section.socks-cap .container .section-heading a.icon {
    border: 1px solid #438565;
    padding: 7px 23px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    gap: 13px;
}

section.socks-cap .container .section-heading .icon span {
    font-weight: 700;
    color: #438565;
}

section.socks-cap .container .section-heading .icon i {
    color: #438565;
    align-items: center;
}

section.socks-cap .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 56px;
}

section.socks-cap .container .row .card {
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
    padding: 17px;
}

section.socks-cap .container .row .card .card-img img {
    width: 100%;
}

section.socks-cap .container .row .card .card-content .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

section.socks-cap .container .row .card .card-content .card-content-top .product-name h3 {
    font-weight: 500;
    font-size: 24px;
}

section.socks-cap .container .row .card .card-content .card-content-middle {
    padding-top: 5px;
    padding-bottom: 0;
}

section.socks-cap .container .row .card .card-content .card-content-middle a {
    font-size: 14px;
    font-weight: 400;
    color: #000000bd;
}

section.socks-cap .container .row .card .card-content .card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

section.socks-cap .container .row .card .card-content .card-content-bottom .product-price h5 {
    font-weight: 600;
    font-size: 22px;
}

section.socks-cap .container .row .card .card-content .card-content-bottom .product-cart {
    background: #438565;
    padding: 10px 12px;
    border-radius: 50%;
}

section.socks-cap .container .row .card .card-content .card-content-bottom .product-cart img {
    width: 100%;
}


/* socks-cap end */
/* .................. */
/* women start */


section.women {
    padding-top: 80px;
    padding-bottom: 88px;
}

section.women .container .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 53px;
}

section.women .container .section-heading .heading h2 {
    font-size: 48px;
}

section.women .container .section-heading a.icon {
    border: 1px solid #438565;
    padding: 7px 23px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    gap: 13px;
}

section.women .container .section-heading .icon span {
    font-weight: 700;
    color: #438565;
}

section.women .container .section-heading .icon i {
    color: #438565;
    align-items: center;
}

section.women .container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 56px;
}

section.women .container .row .card {
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
    padding: 17px;
}

section.women .container .row .card .card-img img {
    width: 100%;
}

section.women .container .row .card .card-content .card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

section.women .container .row .card .card-content .card-content-top .product-name h3 {
    font-weight: 500;
    font-size: 24px;
}

section.women .container .row .card .card-content .card-content-middle {
    padding-top: 5px;
    padding-bottom: 0;
}

section.women .container .row .card .card-content .card-content-middle a {
    color: #000000bd;
    font-size: 14px;
    font-weight: 400;
}

section.women .container .row .card .card-content .card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

section.women .container .row .card .card-content .card-content-bottom .product-price h5 {
    font-weight: 600;
    font-size: 22px;
}

section.women .container .row .card .card-content .card-content-bottom .product-cart {
    background: #438565;
    padding: 10px 12px;
    border-radius: 50%;
}

section.women .container .row .card .card-content .card-content-bottom .product-cart img {
    width: 100%;
}

/* women end */

/* mainslider start */

.main-slider {
    padding-bottom: 108px;
}

.main-slider .main-slider-heading {
    padding-bottom: 88px;
}

.main-slider .main-slider-heading h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    background: #ffffff;
    z-index: 11;
}

.main-slider .main-slider-heading h2 span {
    background: #fff;
    padding: 0 30px;
}

.main-slider .main-slider-heading h2 span:before {
    content: "";
    display: block;
    height: 6px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #438565;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.main-slider .swiper {
    border: 1px solid #438565;
    border-radius: 24px;
    cursor: grab;
}

.main-slider .swiper .slider-rows {
    display: flex;
    padding: 24px 0px 80px 24px;
    grid-row-gap: 20px;
}

.main-slider .swiper .slider-rows img {
    min-height: 353px;
    max-height: 300px;
    padding-top: 50px;
}

/* ..................... */
/* footer start */

footer {
    padding-top: 77px;
    padding-bottom: 78px;
    background: #438565;
    color: #ffffff;
}

footer .container-fluid {
    padding-left: 80px;
}

footer .container-fluid .row {
    display: grid;
    grid-template-columns: max-content max-content max-content 1fr;
    gap: 124px;
}

footer .container-fluid .row h3 {
    font-size: 24px;
    font-weight: 600;
}


footer .container-fluid .row ul {
    padding-top: 9px;
}

footer .container-fluid .row ul li {
    padding-top: 8px;
    font-weight: 400;
}

footer .container-fluid .row ul li a {
    font-size: 21px;
    color: #ffffff80;
    font-weight: 300;
}

footer .container-fluid .row .footer-contain4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container-fluid .row .footer-contain4 .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

footer .container-fluid .row .footer-contain4 .footer-icon i {
    font-size: 22px;
    color: #fff;
}

/* footer end */

.product-color img {
    width: 18px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}


@media only screen and (min-width:1600px) {
    .container-full {
        max-width: 1300px;
        width: 100%;
        margin: auto;
    }

    .container-fluid {
        max-width: 1300px;
        width: 100%;
        margin: auto;
    }
}

/* product cart css */

section.cart {
    padding: 10px 0 80px;
}

section.cart .maindiv {
    display: flex;
    gap: 50px;
}

section.cart .maindiv .left-side {
    width: 50%;
}

section.cart .maindiv .left-side .swiper {
    width: 100%;
    height: 100%;
}

section.cart .maindiv .left-side .swiper-slide img {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

section.cart .maindiv .left-side .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

section.cart .maindiv .left-side .swiper-slide {
    background-size: cover;
    background-position: center;
}

section.cart .maindiv .left-side .mySwiper2 {
    height: 80%;
    width: 100%;
}

section.cart .maindiv .left-side .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

section.cart .maindiv .left-side .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

section.cart .maindiv .left-side .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

section.cart .maindiv .left-side .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.cart .maindiv .right-side {
    width: 50%;
}

section.cart .maindiv .right-side h2 {
    font-size: 48px;
    font-weight: 700;
}

section.cart .maindiv .right-side .ratings {
    display: flex;
    padding: 10px 0;
    font-size: 20px;
    gap: 5px;
}

section.cart .maindiv .right-side .price-newprice {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

section.cart .maindiv .right-side .price-newprice span {
    text-decoration: line-through;
    color: #00000091;
    font-size: 20px;
}

section.cart .maindiv .right-side .price-newprice h3 {
    font-size: 26px;
    font-weight: 500;
}

section.cart .maindiv .right-side h3 {
    color: #00000091;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}

section.cart .maindiv .right-side .view-size {
    display: flex;
    gap: 50px;
    padding: 10px 0;
}

section.cart .maindiv .right-side .view {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}

section.cart .maindiv .right-side .view a {
    font-size: 16px;
    color: #00000091;
    font-weight: 500;
}

section.cart .maindiv .right-side .size {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
}

section.cart .maindiv .right-side .size a {
    font-size: 16px;
    color: #00000091;
    font-weight: 500;
}

section.cart .maindiv .right-side .product-size {
    display: flex;
    gap: 20px;
}

section.cart .maindiv .right-side .product-size :nth-child(1) {
    background: #000;
    padding: 14px 20px;
    color: #fff;
    font-weight: 600;
}

section.cart .maindiv .right-side .product-size :nth-child(2) {
    background: #fff;
    padding: 14px;
    color: #000;
    font-weight: 600;
    border: 1px solid #000;
}

section.cart .maindiv .right-side .about-p h3 {
    color: #00000091;
    font-size: 16px;
    font-weight: 600;
}

section.cart .maindiv .right-side .about-p {
    padding: 20px 0;
}

section.cart .maindiv .right-side .increment-decrement {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

section.cart .maindiv .right-side .increment-decrement span {
    font-size: 20px;
    font-weight: 600;
}

section.cart .maindiv .right-side .btn {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

section.cart .maindiv .right-side .btn :nth-child(1) {
    text-align: center;
    padding: 15px 80px;
    background: #438565;
    color: #fff;
    border-radius: 50px;
}

section.cart .maindiv .right-side .btn :nth-child(2) {
    text-align: center;
    padding: 15px 80px;
    background: #438565;
    color: #fff;
    border-radius: 50px;
}

section.cart .maindiv .right-side .btn a:hover {
    background: #000;
}

/* cart end */
/* ................... */
/* description start */

section.description {
    padding-top: 10px;
    padding-bottom: 80px;
}

section.description .container{
    border: 1px solid #00000071;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.active {
    background: black !important;
    color: #fff !important;
}

section.description .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 30px;
}

section.description .buttons a {
    padding: 10px 20px;
    background: #dbdbdb52;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

section.description .buttons a:hover{
    background: #000;
    color: #fff;
    transition: all ease-in .3s;
}

section.description p{
    padding-top: 40px;
    color: #000000aa;
    font-size: 17px;
    line-height: 1.5;
    padding-bottom: 30px;
    font-weight: 500;
}

section.description ul h5{
    color: #000;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
}

section.description ul li{
    color: #000000aa;
    font-size: 16px;
    font-weight: 500;
    list-style: block;
    padding-top: 5px;
}

section.description ol h5{
    color: #000;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
}

section.description ol li{
    color: #000000aa;
    font-size: 16px;
    font-weight: 500;
    list-style: block;
    padding-top: 5px;
}

section.description .Paragraph-text h5{
    color: #000;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    padding-top: 50px;
}

section.description .Paragraph-text p{
    padding-top: 0px;
    color: #000000aa;
    font-size: 17px;
    line-height: 1.5;
    padding-bottom: 30px;
    font-weight: 500;
}

section.description .des-content{
    display: block;
}

section.description .review-content{
    display: none;
}
section.description .shipping-content{
    display: none;
}
section.description .custom-content{
    display: none;
}

/* section description end */
/* section like start */

section.like{
    padding: 0px 0 100px;
}
section.like .container h2{
    text-align: center;
    padding-bottom: 30px;
    font-size: 48px;
    font-weight: 500;
}

section.like .swiper{
    cursor: grab;
}

section.like .like-content{
    text-align: center;
}

section.like .like-content h3{
    font-size: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}